/* style.css */

body {
    background-color: #fff9e6; /* 淡黄色背景 */
    font-family: 'Open Sans', sans-serif;
  }
  .section-content p {
    font-size: 1em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 2.0em; /* 增加段落底部间距，使每段空一行 */
}

  .profile-section {
    display: flex;
    align-items: center;
    margin: 2em auto;
    padding: 2em;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
  }
  
  .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 2em;
  }
  
  .profile-info h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
  }
  
  .profile-info h3 {
    font-size: 1.2em;
    color: #666;
    margin: 0.2em 0;
  }
  
  .profile-info p {
    font-size: 1em;
    color: #333;
    margin: 0.5em 0;
  }
  
  .social-icons {
    margin-top: 1em;
  }
  
  .social-icons a {
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #666;
  }
  
  .social-icons a:hover {
    color: #000;
  }
  
  .section-content {
    max-width: 800px;
    margin: 2em auto;
  }
  
  .section-content h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .section-content p {
    font-size: 1em;
    color: #333;
    line-height: 1.6;
  }
  
  .research-entry {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
  }
  
  .research-entry img {
    width: 150px;
    height: auto;
    margin-right: 1em;
    border-radius: 8px;


      
  }
  